*{
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: white;
}

div.row {
    background-color: var(--main-bg-color);
}
.social i {
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    
}
div.row2 {
    background-color:  white;
    height: 50px;
    
}

div.col-sm-3 {
    padding: 10px;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    height: fit-content;
}
.navbar-toggler-icon {
    background-color: white;
}
.navbar-nav a {
    color: white;
}
.navbar-nav a:hover {
    color: lightskyblue;
}
.navbar-nav {
    margin-left: auto;
}
.nav-item {
    margin-left: 20px;
}

button {
    border: none;
    background-color: brown;
    padding: 8px 12px;
    margin: 10px;
    margin-right: 10px;
    
}
button:hover {
    background-color:coral;
    text-decoration: none;
}
button a {
    color: white;
    margin: 10px;
    text-decoration: none;
}
button a:hover {
    text-decoration: none;
}
#demo {
    padding-top: 10px;
}
.col-sm-6 {
    padding: 15px;
    height: 500px;
}
.section {

    margin-top: 100px;
    padding: 20px;
    text-align: left;
    margin-bottom: 80px;
    
}
.section h2 {
    margin-left: 0px;
    text-align: left;
}
.section p, h4 {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-sm-12 {
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;

}
.col-sm-12 h3 {
    font-weight:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.service-section {
    background-color: var(--main-bg-color);
}
.icon {
    padding: 20px;
}
.icon h3 {
    text-align: center;
}
.icon p {
    margin-left: 10px;
}
.ic1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: brown;
}
.section p button {
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}
.vendor {
    padding: 10px;

}
.vendortips h4 {
    margin-top: 15px;
    text-align: left;
}
.step {
    list-style-type: disc;
    padding: 10px;
    text-align: justify;
}
.step li {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#aboutus {
    background-color: black;
    color: white;
    padding: 20px;
}
#aboutus .col-sm-3 {
    margin-top: 10px;
    padding: 40px;
    

}
#aboutus .col-sm-3 p {
    text-align: justify;
}
.col-sm-3 ul li {
    list-style-type: none;
}
.info li a {
    text-decoration: none;
    color: white;
}
.col-sm-3 i {
    font-size: 25px;
}
.info a:hover {
    color: lightskyblue;
}
hr {
    color: white;
    background-color: white;
}
.col-sm-6, .col-sm-5 {
    padding: 10px;
}
#footer {
    padding: 5px;
    text-align: center;
    background-color: coral;
    color: white;
}
/*div.sticky-top {
    padding: 10px;
*/

.col-sm-5 {
    padding: 10px;
    margin: 10px;
}
.form-group {
    padding-top: 20px;
}
.col-sm-5 p a {
    text-decoration: none;
    color:brown;

}
.col-sm-5 p a:hover {
    color: blue;
}
form .btn {
    background-color: brown;
    color: white;
    border-radius: 10px;
}
form .btn:hover {
    background-color: coral;
    color: blue;
}
